.current {
  color: green;
}
.figure {
    float: center;
    display: block;
    margin: 0 auto;
    width: 800px;
    height: auto;
}
.image-caption {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 14pt;
	color: light-grey;
  }

.title {
	display: block;
	margin: 0 auto;
	font-size : 24pt;
	text-align: center;
	text-style: bold;
}